<div id="strona" class="container">
  <div id="tytul" class="row">
    <div class="col-12">
      <div id="tytul1" class="row">
        <div class="col-12 text-center h1">
          Zmieniacz
        </div>
      </div>
      <div id="tytul2" class="row">
        <div class="col-12 text-center h1">
          liczb
        </div>
      </div>
      <div id="tytul3" class="row" style="height: 50px"></div>
    </div>
  </div>
  <div id="program" class="row">
    <div class="col-12">
      <div id="program1" class="row">
        <div class="col-2 text-center h3">
          liczba
        </div>
        <div class="col-2"></div>
        <div class="col-2 text-center h3">liczba</div>
      </div>
      <div id="program2" class="row">
        <div class="col-2 text-center h3">arabska</div>
        <div class="col-2"></div>
        <div class="col-2 text-center h3">rzymska</div>
      </div>
      <div id="program3" class="row">
        <div class="col-2 text-center h3">kwadrat1</div>
        <div class="col-2 text-center h3">------></div>
        <div class="col-2 text-center h3">kwadrat2</div>
      </div>
    </div>
  </div>
</div>
